@font-face {
	font-family: good-vibes;
	src: url(/src/assets/fonts/GoodVibesFont/GoodVibes-Demo.ttf);
}
@font-face {
	font-family: daydream;
	src: url(/src/assets/fonts/daydream_3/Daydream.ttf);
}
@font-face {
	font-family: countryside;
	src: url(/src/assets/fonts/countryside/Countryside.ttf);
}
.good-vibes-font{
	font-family:good-vibes;
}
.daydream-font{
	font-family:daydream;
}
.countryside-font{
	font-family:countryside;
}